@* Definiuje model dla widoku jako pojedynczy obiekt TrainingDetail. *@
@model BeFit.Models.TrainingDetail

@{
    // Ustawia tytuł strony.
    ViewData["Title"] = "Usuń Szczegół Treningu";
}

<h1>@ViewData["Title"]</h1>

<h3>Czy na pewno chcesz usunąć ten wpis?</h3>
<div>
    <h4>Szczegół Treningu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @* Wyświetla nazwę dla pola Exercise.Name. *@
            @Html.DisplayNameFor(model => model.Exercise.Name)
        </dt>
        <dd class="col-sm-9">
            @* Wyświetla wartość pola Exercise.Name. *@
            @Html.DisplayFor(model => model.Exercise.Name)
        </dd>
        <dt class="col-sm-3">
            @* Wyświetla nazwę dla pola Load. *@
            @Html.DisplayNameFor(model => model.Load)
        </dt>
        <dd class="col-sm-9">
            @* Wyświetla wartość pola Load. *@
            @Html.DisplayFor(model => model.Load)
        </dd>
        <dt class="col-sm-3">
            @* Wyświetla nazwę dla pola Sets. *@
            @Html.DisplayNameFor(model => model.Sets)
        </dt>
        <dd class="col-sm-9">
            @* Wyświetla wartość pola Sets. *@
            @Html.DisplayFor(model => model.Sets)
        </dd>
        <dt class="col-sm-3">
            @* Wyświetla nazwę dla pola Repetitions. *@
            @Html.DisplayNameFor(model => model.Repetitions)
        </dt>
        <dd class="col-sm-9">
            @* Wyświetla wartość pola Repetitions. *@
            @Html.DisplayFor(model => model.Repetitions)
        </dd>
    </dl>

    @* Formularz wysyłający żądanie usunięcia do akcji Delete kontrolera TrainingDetails. *@
    <form asp-action="Delete">
        @* Ukryte pole przechowujące ID usuwanego szczegółu. *@
        <input type="hidden" asp-for="Id" />
        @* Przycisk potwierdzający usunięcie. *@
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        @* Link powrotu do listy szczegółów dla danej sesji. *@
        <a asp-action="Index" asp-route-trainingSessionId="@Model.TrainingSessionId" class="btn btn-secondary">Anuluj</a>
    </form>
</div>
