@* Definiuje model dla widoku jako pojedynczy obiekt Exercise. *@
@model BeFit.Models.Exercise

@{
    // Ustawia tytuł strony.
    ViewData["Title"] = "Usuń Typ Ćwiczenia";
}

<h1>@ViewData["Title"]</h1>

<h3>Czy na pewno chcesz usunąć ten typ ćwiczenia?</h3>
<div>
    <h4>Typ Ćwiczenia</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @* Wyświetla nazwę dla pola Name. *@
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @* Wyświetla wartość pola Name. *@
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @* Wyświetla nazwę dla pola Description. *@
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @* Wyświetla wartość pola Description. *@
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    @* Formularz wysyłający żądanie usunięcia do akcji Delete kontrolera Exercises. *@
    <form asp-action="Delete">
        @* Ukryte pole przechowujące ID usuwanego ćwiczenia. *@
        <input type="hidden" asp-for="Id" />
        @* Przycisk potwierdzający usunięcie. *@
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        @* Link powrotu do listy typów ćwiczeń. *@
        <a asp-action="Index" class="btn btn-secondary">Powrót do Listy</a>
    </form>
</div>
