@* Definiuje model dla widoku jako pojedynczy obiekt TrainingSession. *@
@model BeFit.Models.TrainingSession

@{
    // Ustawia tytuł strony.
    ViewData["Title"] = "Usuń Sesję Treningową";
}

<h1>@ViewData["Title"]</h1>

<h3>Czy na pewno chcesz usunąć tę sesję treningową?</h3>
@* Ostrzeżenie o usunięciu powiązanych danych. *@
<h4 class="text-danger">Usunięcie sesji spowoduje również usunięcie wszystkich zarejestrowanych w niej ćwiczeń!</h4>
<div>
    <h4>Sesja Treningowa</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @* Wyświetla nazwę dla pola StartTime. *@
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class="col-sm-10">
            @* Wyświetla sformatowaną wartość pola StartTime. *@
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class="col-sm-2">
            @* Wyświetla nazwę dla pola EndTime. *@
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class="col-sm-10">
            @* Wyświetla sformatowaną wartość pola EndTime. *@
            @Html.DisplayFor(model => model.EndTime)
        </dd>
    </dl>

    @* Formularz wysyłający żądanie usunięcia do akcji Delete kontrolera TrainingSessions. *@
    <form asp-action="Delete">
        @* Ukryte pole przechowujące ID usuwanej sesji. *@
        <input type="hidden" asp-for="Id" />
        @* Przycisk potwierdzający usunięcie. *@
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        @* Link powrotu do listy sesji treningowych. *@
        <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
    </form>
</div>
